<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <ul class="chat-list">

    </ul>
    <div>
        <input type="text" id="chat-text">
        <button id="send-button">보내기</button>
        <button type="button" class="disconnect-button">나가기</button>
    </div>
    <script>
        const chatList = document.querySelector(".chat-list");
        const chatText = document.querySelector("#chat-text");
        const sendButton = document.querySelector("#send-button");
        const disconnectButton = document.querySelector(".disconnect-button");
        const socket = io("/chat-room");

        sendButton.addEventListener("click",function(e){
            e.preventDefault();
            socket.emit("chat message",chatText.value);
        });

        disconnectButton.addEventListener("click", function(){
            socket.disconnect();
            alert("연결해제");
        });
        socket.on("chat message", msg=>{
            console.log(msg);
            chatList.innerHTML+=`<li>${msg}</li>`;
        });
    </script>
</body>
</html>